body.admin-bar #end-of-the-net {
  margin-bottom:32px;
}

#article-sidebar {
  position:fixed;
  width:$article-sidebar-width-tablet;
  background-color:$article-sidebar-background;
  height:100%;
  @include transition(all, 0.5s, ease-in-out);
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  overflow-y:scroll;
  -webkit-overflow-scrolling: touch;
  overflow-x:hidden;

  .post:last-child {
  }

  #end-of-the-net {
    width:100%;
    display:block;
    background-image:url('images/end-of-the-internet.png');
    background-repeat:no-repeat;
    background-position:bottom right;
    background-color:#edeae5;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size:16px;
    padding:15px;
    padding-top:100px;
    padding-bottom:150px;
    box-sizing:border-box;

    p, h2 {
      opacity:0.5;
    }
    h2 {
      font-size:20px;
      margin-bottom:10px;
    }
  }

  .article {
    padding: 25px 15px 30px 15px;
    box-sizing:border-box;
    color:$paragraph-color;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transform: translate3d(0, 0, 0);
    font-size:16px;
    line-height:1.2em;
    border-bottom:1px solid $line-color;
    position:relative;

    .content-icon {
      position:absolute;
      right:10px;
      top:50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      color:$avatar-sidebar-category-color;
      border:1px solid $avatar-sidebar-category-color;
      border-radius:100%;
      width:30px;
      height:30px;
      text-align: center;
      padding-top: 4px;
      padding-left: 0;
      box-sizing: border-box;
      @include transition(all, 0.3s, ease-in-out);
    }

    h2 {
      padding-right: 35px;
    }
  }
  .article.featured {
    background-color:$header-footer-background;
    color:#fff;
    padding-top:30px;
    padding-bottom:30px;
    h2 {
      font-family: 'Covered By Your Grace', cursive;
      line-height:110%;
      font-size:26px;
      padding-bottom:10px;
      overflow:display;
      -webkit-font-smoothing: antialiased;
      @include transition(opacity, 0.1s, ease-in-out);
      a {
        color:$link-color;
        @include transition(all, 0.3s, ease-in-out);
        &:hover {
          color:$link-hover-color;
        }
      }
    }
    &.collapsed {
      height:68px;
      h2 {
        opacity:0;
      }
    }
  }

  .article .cover {
    opacity:0;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    font-family: 'Covered By Your Grace', cursive;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    font-size:20px;
    line-height:20px;
    padding:26px;
    box-sizing:border-box;
    text-align:center;
    color:#fff;
    -webkit-font-smoothing: antialiased;

    > div {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform:translateY(-50%);
      -moz-transform:translateY(-50%);
      -o-transform:translateY(-50%);
    }
  }

  .article:hover .cover {
    display:block;
    opacity:1;
    @include transition(opacity, 0.4s, ease);
  }

  .article:hover h3, .article:not(.featured):hover h2 {
    color:#fff;
    opacity:0.15;
  }
  .article:hover .content-icon {
    color:#fff;
    opacity:0.15;
    border:1px solid #fff;
    @include transition(all, 0.1s, ease-in-out);
  }
  .article.category-politics:hover {
    background-color:$politics-color;
  }
  .article.category-gaming:hover {
    background-color:$gaming-color;
  }
  .article.category-tech:hover {
    background-color:$tech-color;
  }
  .article.category-pop-culture:hover {
    background-color:$pop-culture-color;
  }

  h3.category {
    text-transform:uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size:10px;
    color:$avatar-sidebar-category-color;
  }

  .status-update {
    padding-top:30px;
    padding-bottom:30px;
    min-height:120px;
    position:relative;
    border-bottom:1px solid $line-color;
    background-repeat:no-repeat;
    display: block;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    box-sizing:border-box;
    &.hidden {
      display:none;
    }
    h2 {
      font-family: 'Covered By Your Grace', cursive;
      font-size: 22px;
      width: 100%;
      box-sizing: border-box;
      padding-bottom:40px;
    }
    img {
      position:absolute;
      bottom:0;
    }
    a {
      text-decoration:underline;
    }

    &.avatar-left {
      background-position:bottom left;
      h2 {
        padding-left: 80px;
        padding-right: 20px;
        text-align:right;
      }
    }
    &.avatar-right {
      background-position:bottom right;
      h2 {
        padding-left: 20px;
        padding-right: 80px;
        text-align:left;
      }
    }
    @each $category, $c-color, $c-type in $categories {
      &.avatar-#{$category} {
        &.avatar-left {
          background-image:url('images/avatar-sidebar-#{$category}-left.png');
          &:hover {
            background-image:url('images/avatar-sidebar-#{$category}-left-hover.png');
            background-color:$c-color;
            color:#fff;
          }
        }
        &.avatar-right {
          background-image:url('images/avatar-sidebar-#{$category}-right.png');
          &:hover {
            background-image:url('images/avatar-sidebar-#{$category}-right-hover.png');
            background-color:$c-color;
            color:#fff;
          }
        }
      }
    }

  }
  .status-update.avatar-politics {
    color:$politics-color;
    a {
      color:$politics-color;
    }
  }
  .status-update.avatar-tech {
    color:$tech-type-color;
    a {
      color:$tech-type-color;
    }
  }
  .status-update.avatar-pop-culture {
    color:$pop-culture-color;
    a {
      color:$pop-culture-color;
    }
  }
  .status-update.avatar-gaming {
    color:$gaming-type-color;
    a {
      color:$gaming-type-color;
    }
  }

  .load-more-sidebar-pages {
    background-color:$header-footer-background;
    text-align:center;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    display:block;
    width:100%;
    padding:10px;
    font-weight:bold;
    box-sizing:border-box;
    font-size: 12px;
  }
  .loader-container {
    background-color:$header-footer-background;
    width:100%;
    height:80px;
  }
}

.admin-bar .loader-container {
  margin-bottom:32px;
}

.sidebar-hidden #article-sidebar {
  margin-left:-$article-sidebar-width;
}

@media screen and (max-width:#{$mobile-breakpoint}) {
  #article-sidebar {
    display:none;
  }

  #filtering {
    height: 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #96918f;
    text-align: center;
    color: #fff;
    line-height: 40px;
    text-transform: uppercase;
    font-family:'Montserrat',sans-serif;

    .loader {
      font-size:4px;
      margin-left: 0;
      margin-right: 0;
      display: inline-block;
      left:16px;
      top:-9px;
    }
    .loader:before, .loader:after, .loader {
      width:5px;
      height:5px;
    }
  }
}

.random-angle-5 { -webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);transform:rotate(-5deg); }
.random-angle-6 { -webkit-transform:rotate(-6deg);-moz-transform:rotate(-6deg);transform:rotate(-6deg); }
.random-angle-7 { -webkit-transform:rotate(-7deg);-moz-transform:rotate(-7deg);transform:rotate(-7deg); }
.random-angle-8 { -webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg);transform:rotate(-8deg); }
.random-angle-9 { -webkit-transform:rotate(-9deg);-moz-transform:rotate(-9deg);transform:rotate(-9deg); }
.random-angle-10 { -webkit-transform:rotate(-8deg);-moz-transform:rotate(-8deg);transform:rotate(-8deg); }
.random-angle-11 { -webkit-transform:rotate(-7deg);-moz-transform:rotate(-7deg);transform:rotate(-7deg); }
.random-angle-12 { -webkit-transform:rotate(-6deg);-moz-transform:rotate(-6deg);transform:rotate(-6deg); }
.random-angle-13 { -webkit-transform:rotate(-5deg);-moz-transform:rotate(-5deg);transform:rotate(-5deg); }
.random-angle-14 { -webkit-transform:rotate(-6deg);-moz-transform:rotate(-6deg);transform:rotate(-6deg); }
.random-angle-15 { -webkit-transform:rotate(-7deg);-moz-transform:rotate(-7deg);transform:rotate(-7deg); }


body.sidebar-open {
  #article-sidebar {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transition-delay:0.5s;
    -webkit-transition-delay:0.5s;
  }
  #collapse-sidebar {
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transition-delay:0.5s;
    -webkit-transition-delay:0.5s;
    left:250px;
  }
  #content-body {
    margin-left:250px;
  }
}

body.sidebar-closed {
  #article-sidebar {
    transform: translate3d(-250px,0,0);
    -webkit-transform: translate3d(-250px,0,0);
    transition-delay:0s;
    -webkit-transition-delay:0s;
  }
  #collapse-sidebar {
    transform: translate3d(-250px,0,0);
    -webkit-transform: translate3d(-250px,0,0);
    transition-delay:0s;
    -webkit-transition-delay:0s;
    left:250px;
  }
  #content-body {
    margin-left:0;
  }
  #avatar-select {
    padding-top:65px;
  }
}

body.sidebar-closed.admin-bar {
  #avatar-select {
    padding-top:97px;
  }
}
