.author-header.large {
  height:340px;
}
.author-header {
  font-family:'Playfair Display', serif;
  -webkit-font-smoothing: subpixel-antialiased;
  height:240px;
  width:100%;
  position:relative;
  overflow:display;
  @include transition(height, 0.5s, ease-out);

  .author-signature img {
    max-width:70%;
  }

  .author-shadow {
    border:10px solid #454f5a;
    border-radius:100%;
    position:absolute;
    z-index:1;
    bottom:0;
    margin-bottom:-30px;
    margin-left:0;
  }
  &.large .author-shadow {
    border:20px solid #e5e0d8;
    width:300px;
    height:300px;
    left:80px;
    margin-bottom:-40px;
    margin-left:0;
  }
  .author-image {
    width:30%;
    height:auto;
    left:5%;
    border-radius:100%;
    position:absolute;
    bottom:0;
    margin-bottom:-20px;
    z-index:6;
  }
  &.large .author-image {
    width:300px;
    height:300px;
    left:100px;
  }

  .author-info {
    padding-left: 40%;
    padding-top: 55px;
    @include transition(all, 0.5s, ease-out);

    a {
      color:#fff;
      font-size:32px;
    }
  }
  &.large .author-info {
    padding-left:500px;
    padding-top:115px;
  }
}

.row {
  padding-top:80px;
  overflow:hidden;
}
.column-left {
  padding-left:100px;
  padding-right:50px;
  float:none;
  width:100%;
  box-sizing:border-box;
  @include transition(all, 0.5s, ease-out);
}
@media screen and (max-width:640px) {
  .column-left {
    padding-left:10px;
    padding-right:10px;
  }
}
#content-body.large .column-left {
  float:left;
  width:500px;
}
#content-body:not(.large) .column-right {
  margin-top:30px;
  width:95%;
  box-sizing:content-box;
  padding-left:5%;
}
.column-right {
  box-sizing:border-box;
  overflow:hidden;
  padding-right:10%;

  h5 {
    color:#ccc;
    font-family:'Montserrat', sans-serif;
    font-size:18px;
    text-transform:uppercase;
    margin-top:0;
    margin-bottom:40px;
  }
}

#content-body p {
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height:1.5em;
}
p + p {
  margin-top:2em;
}

article {
  h3 {
    font-family:'Playfair Display', serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size:27px;
    a {
      color:#666;
    }
    padding-bottom:15px;
  }

  .article-info {
    font-family:'Montserrat', sans-serif;
    color:$light-grey;
    line-height:20px;
    span {
      text-transform:uppercase;
      font-size:18px;
    }
    span.tags {
      font-family: 'Lora', serif;
      text-transform:none;
      font-style:italic;
    }
    a {
      color:$blue;
    }
    a.grey {
      color:$light-grey;
    }
    a.category-tech {
      color:$tech-color;
    }
    a.category-politics {
      color:$politics-color;
    }
    a.category-pop-culture {
      color:$pop-culture-color;
    }
    a.category-gaming {
      color:$gaming-color;
    }
  }
}

hr.divider {
  margin-top:40px;
  margin-bottom:40px;
}
