&:not(.mobile-width) .author-info {
  .author-image {
    float:left;
  }
  .relatedthumb {
    width: 50%;
    float: left;
  }
}
&.mobile-width .author-info {
  .author-image {
    margin:0 auto;
  }
  h4 {
    text-align:center;
  }
  .relatedthumb {
    width:100%;
  }
}
.author-info {
  a {
    color:$link-color;
    @include transition(color, 0.5s, ease-in-out);
  }
  a:hover {
    color:$link-hover-color;
  }
  .author-image {
    width:150px;
    height:150px;

    @media screen and (max-width:640px) {
      width:100px;
      height:100px;
    }

    border-radius:100%;
    border:8px solid $avatar-sidebar-background;
    background-size:cover;

    margin-right:30px;
    @include transition(border-color, 0.5s, ease-in-out);
  }
  a:hover .author-image {
    border:8px solid $blue;
  }
  .author-details {
    @media screen and (min-width:641px) {
      overflow:hidden;
    }
    padding-top:20px;

    h4 {
      text-transform:uppercase;
      font-family: 'Lora', serif;
      text-decoration:italic;
      font-size:20px;
      margin-bottom:20px;
    }

    p.bio {
      font-size:18px;
      line-height:23px;
      @media screen and (max-width:640px) {
        overflow:auto;
      }
    }

    ul {
      font-family:'Playfair Display', serif;
      font-size:27px;
      margin-top:20px;
      li {
        padding-bottom:30px;
      }
      li:last-child {
        padding-bottom:10px;
      }
    }
  }

  .relatedthumb {
    padding-top:20px;
    padding-right:30px;
    box-sizing:border-box;

    a {
      font-size:27px;
      display:block;
    }
    span {
      display:inline-block;
      font-size:20px;
      margin-top:20px;
      line-height:26px;
    }
  }

  @media screen and (max-width:640px) {
    .relatedthumb:last-child {
      margin-top:20px;
    }
  }
}
