.author-header.large {
  height:340px;
}
.author-header {
  font-family:'Playfair Display', serif;
  -webkit-font-smoothing: subpixel-antialiased;
  width:100%;
  position:relative;
  overflow:display;
  @include transition(height, 0.5s, ease-out);

  @media screen and (max-width:639px) {
    text-align:center;
  }

  .author-signature img {
    max-width:70%;
  }
  .author-image {
    width:30%;
    max-width:220px;
    height:auto;
    border-radius:100%;
    border:15px solid #e5e0d8;
    z-index:6;
  }
  &.large .author-image {
    width:300px;
    height:300px;
  }

  .author-info {
    @include transition(all, 0.25s, ease-out);

    h1 {
      font-size:75px;
      font-weight:bold;
      padding-bottom:20px;
      max-width:600px;
    }

    a {
      color:#666;
      font-size:32px;
      padding-bottom:20px;
      @include transition(color, 0.25s, ease-out);

      &:hover {
        color:#3bb2af;
      }
    }

    hr {
      margin-top:20px;
    }
  }
  &.large .author-info {
    padding-left:500px;
    padding-top:155px;
  }
}

.row {
  overflow:hidden;
}
.column-left {
  padding-left:100px;
  padding-right:50px;
  float:none;
  width:100%;
  box-sizing:border-box;
  @include transition(all, 0.5s, ease-out);
}
@media screen and (max-width:640px) {
  .column-left {
    padding-left:10px;
    padding-right:10px;
  }
}

.column-right {
  box-sizing:border-box;
  overflow:hidden;
  padding-right:10%;

  h5 {
    color:#ccc;
    font-family:'Montserrat', sans-serif;
    font-size:18px;
    text-transform:uppercase;
    margin-top:0;
    margin-bottom:40px;
  }
}


#content-body {
  /* Large Content Body */
  &:not(.sub-1000) {
    .author-header {
      height:240px;
      padding-left: 500px;
      padding-top: 55px;
      position:relative;

      .author-info {
        position:absolute;
        left:500px;
        top:80px;
        hr {
          margin-top:30px;
        }
      }
      .author-image {
        position:absolute;
        bottom:0;
        left:150px;
        margin-bottom:-20px;
      }
    }
    .row {
      padding-top:60px;
    }
    .column-left {
      float:left;
      width:500px;
    }
    .column-right {
      padding-left:0;
      box-sizing:content-box;
      margin-top:5px;
    }
  }

  /* Small Content Body */
  &.sub-1000 {
    .author-header {
      text-align:center;
    }
    .author-info {
      hr {
        margin: 40px auto 20px auto;
      }
      h1 {
        margin:0 auto;
      }
      .author-image {
        width: 40%;
        max-width: 220px;
      }
    }
    .column-left {
      padding-left:10%;
      padding-right:10%;
    }
    .column-right {
      width:95%;
      box-sizing:border-box;
      margin-top:30px;
      padding-left:10%;
      padding-right:10%;
    }
  }
}

#content-body p {
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height:1.5em;
}
p + p {
  margin-top:2em;
}

article {
  h3 {
    font-family:'Playfair Display', serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size:27px;
    a {
      color:#666;
    }
    padding-bottom:15px;
  }

  .article-info {
    font-family:'Montserrat', sans-serif;
    color:$light-grey;
    line-height:20px;
    span {
      text-transform:uppercase;
      font-size:18px;
    }
    span.tags {
      font-family: 'Lora', serif;
      text-transform:none;
      font-style:italic;
    }
    .colorize-categories {
      a {
        position:relative;
        text-decoration:none;
      }
      a:before {
        content: "";
        position:absolute;
        width:100%;
        height:1px;
        bottom:0;
        left:0;
        visibility:hidden;
        -webkit-transform: scaleX(0);
        -moz-transform: scaleX(0);
        -o-transform: scaleX(0);
        transform: scaleX(0);
        @include transition(all, 0.25s, ease-in-out);
      }
      a:hover:before {
        visibility:visible;
        -webkit-transform: scaleX(1);
        -moz-transform: scaleX(1);
        -o-transform: scaleX(1);
        transform: scaleX(1);
      }

      a {
        color:#6291b4;
        &:before {
          background-color:#6291b4;
        }
      }
      a.category-politics {
        color:$politics-color;
        &:before {
          background-color:$politics-color;
        }
      }
      a.category-gaming {
        color:$gaming-color;
        &:before {
          background-color:$gaming-color;
        }
      }
      a.category-pop-culture {
        color:$pop-culture-color;
        &:before {
          background-color:$pop-culture-color;
        }
      }
      a.category-tech {
        color:$tech-type-color;
        &:before {
          background-color:$tech-type-color;
        }
      }
    }
    a {
      color:$blue;
    }
    a.grey {
      color:$light-grey;
    }
    a.category-tech {
      color:$tech-color;
    }
    a.category-politics {
      color:$politics-color;
    }
    a.category-pop-culture {
      color:$pop-culture-color;
    }
    a.category-gaming {
      color:$gaming-color;
    }
  }
}

hr.divider {
  margin-top:40px;
  margin-bottom:40px;
}
