#avatar-select {
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: $avatar-sidebar-background;
  position:fixed;
  top:0;
  left:0;
  width:$avatar-sidebar-width;
  height:100%;
  padding-top:10px;
  z-index:10;

  a.apply-filter, a#collapse-sidebar {
    display:block;
    margin:10px auto 10px;
    color:$avatar-sidebar-link-color;
    text-decoration:none;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    font-size:11px;
    text-transform:uppercase;
  }

  #sidebar-home-link img {
    max-width:100%;
    margin-left: 2px;
  }
}
.admin-bar #avatar-select {
  padding-top:32px;
}
#avatar-select ul li:first-child {
  margin-bottom:20px;
}
#avatar-select ul li {
  margin-bottom:15px;
}
#avatar-select ul li a {

}
.avatar-icon {
  display:block;
  width:46px;
  height:46px;
  margin:0 auto;
  background-image:url('images/avatar-sprites.png');
  background-repeat:no-repeat;

  opacity:1;
  @include transition(opacity, 0.2s, ease-in-out);
  position:relative;

  .hover {
    position:absolute;
    top:0;
    left:0;
    background-image:url('images/avatar-sprites.png');
    background-repeat:no-repeat;
    width:100%;
    height:100%;
    opacity:0;
    @include transition(opacity, 0.2s, ease-in-out);
  }
}
#avatar-select:not(.none-selected){
  .avatar-icon:hover .hover {
    opacity:1;
  }
}
#avatar-select .avatar-icon .border {
  position:absolute;
  top:-4px;
  left:-3px;
  width:45px;
  height:45px;
  border:4px solid rgba(150,145, 143, 0.5);
  opacity:0;
  border-radius:100%;
  @include transition(opacity, 0.2s, ease-in-out);
}
#avatar-select.none-selected .avatar-icon:hover .border {
  opacity:1;
}
#avatar-select.sidebar-hidden {
  padding-top: 99px;
}
#collapse-sidebar {
  width:$avatar-sidebar-width;
  height:67px;
  display:block;
  font-weight:bolder;
  font-size: 22px;
  @include transition(all, 0.5s, ease-in-out);
  animation-delay:0.4s;
  -webkit-animation-delay:0.4s;
  position:fixed;
  top:0;
  right:0;
  z-index:50;
  text-align:center;

  i {
    line-height:67px;
    color:#c1bebc;
  }
  @media screen and (max-width:640px) {
    display:none;
  }
}
body.admin-bar #collapse-sidebar {
  top:32px;
}
#collapse-sidebar.closed i {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.icon-politics {
  background-position: -5px -342px;

  &.disabled {
    background-position:-5px -230px;
  }
  &.disabled .hover {
    background-position:-5px -286px;
  }
  &:not(.disabled) .hover {
    background-position:-5px -398px;
  }
}
.icon-gaming {
  background-position:-5px -118px;
  &.disabled {
    background-position:-5px 0;
  }
  &.disabled .hover {
    background-position:-5px -61px;
  }
  &:not(.disabled) .hover {
    background-position:-5px -174px;
  }
}
.icon-tech {
  background-position:-5px -789px;
  &.disabled {
    background-position:-5px -677px;
  }
  &.disabled .hover {
    background-position:-5px -734px;
  }
  &:not(.disabled) .hover {
    background-position:-5px -845px;
  }
}
.icon-pop-culture {
  background-position:-5px -566px;
  &.disabled {
    background-position:-5px -454px;
  }
  &.disabled .hover {
    background-position:-5px -511px;
  }
  &:not(.disabled) .hover {
    background-position:-6px -622px;
  }
}

@media screen and (max-width:640px) {
  .admin-bar #avatar-select {
    padding-top:0;
  }

  .filtering #avatar-select {
    margin-bottom:$mobile-filtering-bar-height;
  }

  #avatar-select {
    bottom:0;
    left:0;
    top:initial;
    width:100%;
    height:$mobile-footer-height;
    text-align:center;
    @include transition(margin-bottom, 0.2s, ease-in-out);

    #collapse-sidebar {
      display:none;
    }

    ul {
      margin-top:-30px;

      li:first-child {
        width:0;
        display:none;
      }
      li {
        display:inline-block;
        width:25%;
        overflow:hidden;
        float:left;

        a {
          margin-top:0;
          display:block;
          height:80px;
        }
      }
    }
  }
  .avatar-icon {
    padding-top:5px;
    font-size:11px;

    .close-button {
      display:none;
    }
  }
}

@media screen and (max-width:640px) {
  #avatar-select:not(.none-selected) .avatar-icon:not(.disabled) .close-button {
    position:absolute;
    right: -16px;
    top: 10px;
    max-width: 25px;
    display:block;
    z-index:25;
  }
}
