@media screen and (min-width:641px) {
  .sidebar-visible #content-body {
    margin-left:$article-sidebar-width-tablet;
  }
}
@media screen and (min-width:900px) {
  .sidebar-visible #content-body {
    margin-left:$article-sidebar-width;
  }
}
#content-body {
  @include transition(margin-left, 0.5s, ease-in-out);
  overflow-x:hidden;

  article.category-politics a {
    color: $politics-color;
  }
  article.category-gaming a {
    color: $gaming-color;
  }
  article.category-tech a {
    color: $tech-type-color;
  }
  article.category-pop-culture a {
    color: $pop-culture-color;
  }

  /* Drop cap */
  .first-article .article-body {
    p:first-of-type::first-letter {
      initial-letter: 2;
      font-size:57px;
      float:left;
      padding-top:18px;
      padding-right:5px;
    }
  }

  article {
    h5 {
      color:#ccc;
      font-family:'Montserrat', sans-serif;
      font-size:18px;
      text-transform:uppercase;
      margin-top:55px;
    }

    .article {
      @media (min-width:1280px) {
        width:70%;
      }
      @media (max-width:1280px) {
        width:90%;
      }
      max-width:1000px;
      margin:0 auto;

      hr:not(.divider) {
        background-color: $light-grey;
        border:0;
        height:1px;
        margin-top:20px;
        margin-bottom:20px;
      }
      position:relative;
    }

    h2 {
      font-family: 'Playfair Display', serif;
      font-size:40px;
      padding-top:10px;
      padding-bottom:10px;
      text-align:center;
    }
    h2 a {
      color:#333 !important;
    }

    .category-info {
      text-align:center;
      padding-top:20px;
      padding-bottom:10px;
      text-transform:uppercase;
      font-family: 'Montserrat', sans-serif;
      font-size:11px;
      letter-spacing:0.1em;
      color: $light-grey;

      a.black {
        color:#333;
      }
      a.grey {
        color:#ccc;
      }
    }

    .meta-row {
      font-family: 'Lora', serif;
      font-size:14px;

      .light-grey {
        font-family: 'Montserrat', sans-serif;
        color:$light-grey;
        text-transform:uppercase;
      }

      .author-link {
        color:#000;
      }
    }

    p {
      font-family: 'Lora', serif;
      font-size: 20px;
      line-height:1.5em;
    }
    p + p {
      margin-top:2em;
    }

    .read-more {
      border-top:1px solid $light-grey;
      border-bottom:1px solid $light-grey;
      width:230px;
      margin:0 auto;
      text-align:center;
      a {
        color:#333;
        font-family: 'Montserrat', sans-serif;
        text-transform:uppercase;
        font-size:24px;
        padding:20px;
        display:block;

        span {
          float:left;
          @include transition(color, 0.5s, ease-in-out);
        }
        .arrow {
          border:1px solid #333;
          border-radius:100%;
          font-weight:100;
          float:right;
          width: 25px;
          height: 25px;
          line-height: 25px;
          @include transition(margin-right, 0.5s, ease-in-out);
        }
      }
      a:hover {
        .arrow {
          margin-right:-3px;
        }
      }
    }

    aside {
      width:125px;
      transform:rotate(-10deg);
      -webkit-transform:rotate(-10deg);
      -moz-transform:rotate(-10deg);
      font-family: 'Covered By Your Grace', cursive;
      color:$aside-color;
      font-size:22px;
      img {
        width:30px;
        clear:both;
      }

      @media screen and (min-width:1280px) {
        position:absolute;
        right:-140px;
      }
      @media screen and (max-width:1280px) {
        float:none;
        margin:0 auto;
        width:90%;
        transform:rotate(-2deg);
        -webkit-transform:rotate(-2deg);
        -moz-transform:rotate(-2deg);
        padding-bottom:10px;
        br {
          display:none;
        }
        img {
          padding-right:10px;
          transform:rotate(-75deg);
          -webkit-transform:rotate(-75deg);
          -moz-transform:rotate(-75deg);
        }
      }

    }

    iframe {
      margin:0 auto 20px;
      display:block;
    }

    .author-signature {
      padding-top:60px;
      text-align:center;
    }
    .author-info {
      .author-image {
        width:150px;
        height:150px;
        border-radius:100%;
        border:8px solid $avatar-sidebar-background;
        background-size:cover;
        float:left;
        margin-right:30px;
      }
      .author-details {
        overflow:hidden;
        padding-top:20px;

        h4 {
          text-transform:uppercase;
          font-family: 'Lora', serif;
          text-decoration:italic;
          font-size:20px;
          margin-bottom:20px;
        }

        p.bio {
          font-size:18px;
          line-height:23px;
        }

        ul {
          font-family:'Playfair Display', serif;
          font-size:27px;
          margin-top:20px;
          li {
            padding-bottom:30px;
          }
          li:last-child {
            padding-bottom:10px;
          }
        }
      }

      .relatedthumb {
        width: 50%;
        float: left;
        padding-top:20px;
        padding-right:30px;
        box-sizing:border-box;

        a {
          font-size:27px;
        }
        span {
          display:inline-block;
          font-size:20px;
          margin-top:20px;
          line-height:26px;
        }
      }
    }

    /* Post Featured Image */
    .dark-mode {
      color:#fff;
    }
    .article-header-image {
      background-size:cover;
      min-height:600px;
      background-position:right bottom;
      position:relative;

      .cover {
        width:100%;
        height:100%;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        min-height:600px;
      }

      #logo {
        position:absolute;
        bottom:5px;
        right:40px;
        text-align:right;
        width:100%;
        img {
          max-width:50%;
        }
      }

      h2 {
        width:80%;
        height:340px;
        margin:0 auto;
        padding-top:50px;
        text-align:left;
        span {
          line-height:120%;
          font-weight:bold;
        }
      }
    }

  }

  .article.featured {
    .meta-row {
      padding-top:25px;
    }
  }

  .pad-bottom {
    padding-bottom:40px;
  }

  article.category-tech .read-more a:hover span {
    color:$tech-type-color;
  }
  article.category-pop-culture .read-more a:hover span {
    color:$pop-culture-color;
  }
  article.category-politics .read-more a:hover span {
    color:$politics-color;
  }
  article.category-gaming .read-more a:hover span {
    color:$gaming-color;
  }

  .comment-divider {
    text-align:center;
    hr {
      padding: 0;
      border: none;
      border-top: 1px solid #6291b4;
      border-bottom: 1px solid #6291b4;
      height: 4px;
      text-align: center;
      margin-top:80px;
      margin-bottom:0;
    }

    .plus {
      width:48px;
      background-color:#fff;
      height:32px;
      margin:0 auto;
      margin-top:-20px;
      text-align:center;

      a {
        margin:0 auto;
        border:1px solid #6291b4;
        border-radius:100%;
        color:#6291b4;
        display:block;
        width:32px;
        height:32px;
        text-align:center;
        font-size:23px;
        line-height:31px;
        box-sizing:border-box;
        @include transition(all, 0.5s, ease-in-out);
      }
      a:hover, a.comments-loaded {
        background-color:#6291b4;
        color:#fff;
      }
    }

    a.load-comments {
      margin-top:25px;
      display:block;
      color:#6291b4;
      font-size:20px;
      font-family:'Montserrat',sans-serif;
      text-transform:uppercase;
    }
  }
  #disqus_thread {
    width:90%;
    margin:0 auto;
    margin-top:60px;
  }
}
