@media screen and (min-width:641px) {
  .sidebar-visible #content-body {
    margin-left:$article-sidebar-width;
  }
}
#content-body {
  @include transition(margin-left, 0.5s, ease-in-out);

  article.category-politics a {
    color: $politics-color;
  }
  article.category-gaming a {
    color: $gaming-color;
  }
  article.category-tech a {
    color: $tech-color;
  }
  article.category-pop-culture a {
    color: $pop-culture-color;
  }

  article {
    .article {
      @media (min-width:1280px) {
        width:70%;
      }
      @media (max-width:1280px) {
        width:90%;
      }
      max-width:1000px;
      margin:0 auto;
    }
    position:relative;
    overflow:display;

    h2 {
      font-family: 'Playfair Display', serif;
      font-size:40px;
      padding-top:10px;
      padding-bottom:10px;
    }
    h2 a {
      color:#000 !important;
    }

    hr {
      background-color: $light-grey;
      border:0;
      height:1px;
      margin-top:20px;
      margin-bottom:20px;
    }

    .category-info {
      padding-top:20px;
      padding-bottom:10px;
      text-transform:uppercase;
      font-family: 'Montserrat', sans-serif;
      font-size:11px;
      letter-spacing:0.1em;
      color: $light-grey;

      a.black {
        color:#000;
      }
    }

    .meta-row {
      font-family: 'Lora', serif;
      font-size:14px;

      .light-grey {
        font-family: 'Montserrat', sans-serif;
        color:$light-grey;
        text-transform:uppercase;
      }

      .author-link {
        color:#000;
      }
    }

    p {
      font-family: 'Lora', serif;
      font-size: 20px;
      line-height:1.5em;
    }
    p + p {
      margin-top:2em;
    }

    .read-more {
      border-top:1px solid $light-grey;
      border-bottom:1px solid $light-grey;
      width:230px;
      margin:0 auto;
      text-align:center;
      a {
        color:#000;
        font-family: 'Montserrat', sans-serif;
        text-transform:uppercase;
        font-size:24px;
        padding:20px;
        display:block;

        span {
          float:left;
        }
        .arrow {
          border:1px solid #000;
          border-radius:100%;
          font-weight:100;
          float:right;
          width: 25px;
          height: 25px;
          line-height: 25px;
        }
      }
    }

    aside {
      @media (min-width:1280px) {
        position:absolute;
        right:-140px;
      }
      @media (max-width:1280px) {
        float:right;
        padding-left:10px;
      }
      font-family: 'Covered By Your Grace', cursive;
      color:$aside-color;
      width:125px;
      font-size:22px;
      -webkit-transform:rotate(-10deg);
      -moz-transform:rotate(-10deg);
      img {
        width:30px;
        clear:both;
      }
    }

    iframe {
      margin:0 auto 20px;
      display:block;
    }

    /* Post Featured Image */
    .dark-mode {
      color:#fff;
    }
    .article-header-image {
      background-size:cover;
      min-height:600px;
      background-position:right bottom;
      position:relative;

      .cover {
        width:100%;
        height:100%;
        background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
        min-height:600px;
      }

      #logo {
        position:absolute;
        bottom:5px;
        right:40px;
        text-align:right;
        width:100%;
        img {
          max-width:50%;
        }
      }

      h2 {
        width:80%;
        height:400px;
        margin:0 auto;
        padding-top:50px;
        line-height:200%;
      }
    }

  }

  .article.featured {
    .meta-row {
      padding-top:25px;
    }
  }
}
