#content-body {
  .category-header {
    background:$category-header-background;
    width:100%;
    margin-bottom: 40px;
    h1 {
      color:#fff;
      font-size:52px;
      font-family:'Playfair Display', serif;
      -webkit-font-smoothing: subpixel-antialiased;
      max-width:100%;
      text-align: center;
      padding: 100px 5% 110px 5%;

      @media screen and (max-width:640px) {
        padding-left:20px;
        padding-right:20px;
        text-align:center;
      }

      .category-name {
        text-transform:lowercase;
        border-bottom:5px double #fff;
      }
    }
  }
}


body.page #content-body {
  .page-header {
    background:$category-header-background;
    width:100%;
    //min-height:200px;
    @media screen and (min-width:720px) {
      //min-height:300px;
    }
    position:relative;
    @include transition(all, 0.3s, ease-in-out);

    img {
      @include transition(all, 0.3s, ease-in-out);
    }
    h2 {
      font-family:'Playfair Display', serif;
      -webkit-font-smoothing: subpixel-antialiased;
      color:#fff;
    }

    .wrap {
      width:70%;
      margin:0 auto;
      padding:100px 0;
      @media screen and (max-width:720px) {
        padding: 50px 0;
      }
    }

    &.fat {
      .skinny-only {
        display:none;
      }
      .avatars {
        position:absolute;
        bottom:0;
        left:0;
        max-width:50%;
      }
      h2 {
        font-size:80px;
        line-height:normal;
        font-weight:900;
        text-align: center;
        @media screen and (max-width:720px) {
          font-size: 50px;
        }
      }
    }

    &.skinny {
      .fat-only {
        display:none;
      }
      .avatars {
        width:100%;
        margin-bottom:-5px;
      }
      h2 {
        font-size:80px;
        text-align:center;
        width:100%;
        font-weight: 900;
        @media screen and (max-width:720px) {
          font-size: 50px;
        }
      }
    }
  }
}


body.error404 {
  .giphy {
    text-align:center;
    img {
      max-width:100%;
      margin-bottom:20px;
    }
  }
}

body:not(.sub-1000) {
  .random-articles {
    .randomarticle {
      float:left;
      width:45%;
      padding-right:5%;

      a h3 {
        color:#666;
        font-family: 'Playfair Display', serif;
        -webkit-font-smoothing: subpixel-antialiased;
        font-size: 27px;
        padding-bottom: 15px;
      }
    }
  }
}
