#content-body {
  .category-header {
    background:$category-header-background;
    width:100%;

    h1 {
      color:#fff;
      font-size:52px;
      font-family:'Playfair Display', serif;
      -webkit-font-smoothing: subpixel-antialiased;
      line-height:275px;
      padding-left:16%;

      @media screen and (max-width:640px) {
        padding-left:0;
        text-align:center;
      }

      span {
        text-transform:lowercase;
        border-bottom:5px double #000;
      }
    }
  }
}


body.page #content-body {
  .page-header {
    background:$category-header-background;
    width:100%;
    min-height:200px;
    @media screen and (min-width:1500px) {
      min-height:250px;
    }
    position:relative;
    @include transition(all, 0.3s, ease-in-out);

    img {
      @include transition(all, 0.3s, ease-in-out);
    }
    h2 {
      font-family:'Playfair Display', serif;
      -webkit-font-smoothing: subpixel-antialiased;
      color:#fff;
    }

    &.fat {
      .skinny-only {
        display:none;
      }
      .avatars {
        position:absolute;
        bottom:0;
        left:0;
        max-width:50%;
      }
      h2 {
        font-size:100px;
        line-height:normal;
        width:50%;
        height:200px;
        display:block;
        position:relative;
        top:50%;
        left:50%;
        line-height:200px;
      }
    }

    &.skinny {
      .fat-only {
        display:none;
      }
      .avatars {
        width:100%;
        margin-bottom:-5px;
      }
      h2 {
        position:absolute;
        top:5%;
        left:0;
        height:20%;
        margin:0 auto;
        font-size:20px;
        text-align:center;
        width:100%;
      }
    }
  }
}
