#menu-open {
  position:fixed;
  top:40px;
  right:35px;
  padding:15px 15px;
  color:#fff;
  z-index: 10;
  background-color: transparent;
  border: 0;

  @include transition(opacity, 0.3s, ease-in-out);

  .icon-bar {
    background-color:#fff;
    display: block;
    width: 29px;
    height: 3px;
    border-radius: 1px;
  }
  .icon-bar+.icon-bar {
    margin-top: 7px;
  }
}
#menu-open:hover {
  opacity:0.5;
}
#menu-open.active {
  opacity:0;
}

#menu-close {
  background-color:transparent;
  border:0;
  padding:0;
  float:right;

  @include transition(opacity, 0.3s, ease-in-out);
}
#menu-close:hover {
  opacity:0.5;
}

#main-menu {
  width:$main-menu-width;
  height:100%;
  position:fixed;
  top:0;
  right:0;
  z-index:11;

  padding-left:50px;
  padding-right:40px;
  padding-top:40px;
  box-sizing:border-box;

  background-color:$main-menu-background;
  color:#fff;

  margin-right:-$main-menu-width;
  @include transition(margin-right, 0.5s, ease-in-out);

  hr {
    border:0;
    border-color:#5a5959;
    border-top: 1px solid #5a5959;
    border-bottom: 1px solid #5a5959;
  }

  li a {
    color:#fff;
    font-family: 'Playfair Display', serif;
    font-size:46px;
    font-weight:bold;
    line-height:1.7em;
    @include transition(all, 0.3s, ease-in-out);
    opacity:1;
  }
  li a:hover {
    opacity:0.5;
  }

  li {
    list-style-type:none;
  }
  .textwidget ul li {
    list-style-type:none;
    display:inline-block;
    font-size:32px;
    margin-right:16px;
  }
  .textwidget ul li a {
    position:relative;

    i {
      color:$main-menu-background;
      position:relative;
      z-index:10;
      @include transition(color, 0.5s, ease-in-out);
      font-size:30px;
      width:37px;
      text-align:center;
      top:-1px;
    }
    .underlay {
      position:absolute;
      top:15px;
      left:-2px;
      background-color:white;
      border-radius:100%;
      z-index:9;
      width:42.5px;
      height:43px;
      @include transition(all, 0.5s, ease-in-out);
    }
  }
  .textwidget ul li a.facebook:hover {
    .underlay {
      background-color:#3b5998;
    }
    opacity:1;
  }
  .textwidget ul li a.twitter:hover {
    .underlay {
      background-color:#44acee;
    }
    opacity:1;
  }
  .textwidget ul li a.tumblr:hover {
    .underlay {
      background-color:#35465c;
    }
    opacity:1;
  }
  .textwidget ul li a:hover i {
    color:#fff;
    opacity:1;
  }
}

#main-menu.onscreen {
  margin-right:0;
}
