body.past-header {
  #menu-open {
    .icon-bar {
      background-color:#e5e0d8;
    }
  }
  #menu-open.open {
    .icon-bar {
      background-color:#fff;
    }
  }
}

#menu-open {
  position:fixed;
  top:40px;
  right:35px;
  @media (max-width:1024px) {
    top:25px;
    right:25px;
  }
  color:#fff;
  z-index: 20;
  background-color: transparent;
  border: 0;
  height:41px;
  width:30px;
  @include transition(opacity, 0.3s, ease-in-out);
  @include transition(top, 0.3s, ease-in-out);

  .icon-bar {
    background-color:#fff;
    display: block;
    width: 30px;
    height: 5px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    position:absolute;
  }

  span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }

  span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
  }
}
#menu-open.open {
  span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 1px;
  }

  span:nth-child(2) {
    width: 0%;
    opacity: 0;
  }

  span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px;
    left: 1px;
  }
}
#menu-open:hover {
  opacity:0.5;
}

#main-menu {
  width:$main-menu-width;
  height:100%;
  position:fixed;
  top:0;
  right:0;
  z-index:11;
  overflow-y:scroll;

  padding-left:50px;
  padding-right:40px;
  padding-top:70px;
  box-sizing:border-box;

  background-color:$main-menu-background;
  color:#fff;

  margin-right:-$main-menu-width;
  @include transition(margin-right, 0.5s, ease-in-out);

  hr {
    border:0;
    border-color:#5a5959;
    border-top: 1px solid #5a5959;
    border-bottom: 1px solid #5a5959;
  }

  li a {
    color:#fff;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size:35px;
    font-weight:bold;
    line-height:1.5em;
    @include transition(all, 0.3s, ease-in-out);
    opacity:1;
  }
  li a:hover {
    opacity:0.5;
  }

  li {
    list-style-type:none;
  }
  .textwidget ul li {
    list-style-type:none;
    display:inline-block;
    font-size:32px;
    margin-right:16px;
  }
  .textwidget ul li a {
    position:relative;
    color:#fff;

    i {
      z-index:10;
      @include transition(color, 0.5s, ease-in-out);
      font-size:30px;
      width:37px;
      text-align:center;
    }
  }
  .textwidget ul li a.facebook:hover {
    color:#3b5998;
    opacity:1;
  }
  .textwidget ul li a.twitter:hover {
    color:#44acee;
    opacity:1;
  }
  .textwidget ul li a.tumblr:hover {
    color:#35465c;
    opacity:1;
  }
  .textwidget ul li a.youtube:hover {
    color:#e52d27;
    opacity:1;
  }
  .textwidget ul li a.spotify:hover {
    color:#81b71a;
    opacity:1;
  }
}

#main-menu.onscreen {
  margin-right:0;
}


#main-menu #mailchimp-subscribe {
  margin-top:40px;
  p {
    font-family: 'Lora', sans-serif;
    line-height: 1.3em;
    margin-bottom: 10px;
    font-size:19px;
  }
  input {
    padding:10px;
    width:215px;
    height:37px;
    font-size:20px;
    box-sizing:border-box;
    float:left;
    font-family:'Lora', sans-serif;
    @include transition(width, 0.3s, ease-in-out);
  }
  a {
    display:inline-block;
    height:37px;
    width:45px;
    background-color:$link-color;
    color:#fff;
    text-align:center;
    line-height:37px;
    float:left;
    box-sizing:border-box;
    @include transition(all, 0.3s, ease-in-out);

    &:hover {
      background-color:$link-hover-color;
    }
  }
}
