#search-anywhere {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(48,59,71, 0.95);


  #cancel-search {
    color:#fff;
    position:absolute;
    top:30px;
    right:5%;
    font-size:40px;
    opacity:0.5;
  }

  p {
    font-family:'Montserrat',sans-serif;
    font-size:14px;
    color:#fff;
    opacity:0.5;
    position:absolute;
    top:30px;
    left:5%;
  }

  .screen-reader-text {
    display:none;
  }

  input.search-field {
    border: none;
    background: transparent;
    font-size: 120px;
    color: #fff;
    font-family: 'Playfair Display', serif;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 900;
    border-bottom: 1px solid rgba(255,255,255,0.5);
    width:90%;
    margin-left:5%;
    margin-top:80px;
    -webkit-appearance: none;

    @media screen and (max-width:640px) {
      font-size: 50px;
    }

    &:focus {
      outline:0;
    }
  }

  input[type=submit] {
    display:none;
  }
}

body.admin-bar #search-anywhere {
  top:32px;
  z-index:999999;
}
