#content-body article {
	.article-title{
		@media screen and (max-width:#{$mobile-breakpoint}) {
		margin-bottom: 10px;
		}
	}
  .meta-row {
    font-size:12px;
    letter-spacing: 0.1em;
    .light-grey {
      font-size:12px;
    }
  }
	hr.small{
		//margin: 15px auto 10px auto;
	}
  .article-header-image .cover {
    background:transparent;
  }
}
